---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Sections from '../components/Sections.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Base>
  <Nav />
  <main id="top">
    <Hero />
    <Sections />
    <ContactSection />
  </main>
</Base>
